body{
    background-color:#EAECE9;
    margin: 0px;
}
header{
    width:100%;
}
nav{
    width:100%;
    
}
ul.menu{
    
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
    list-style-type: none;
    padding: 0px 40px;
    

    
}
li.menu{
    width:auto;
}

img#logo{
    width:17%;
    
}

a.menu{
    font-size: 2em;
    font-family: Garamond;
    font-weight: bold;
    text-decoration: none;
    color: #1F271B;
    display: block;
    border:solid #AED3D6;
    border-radius: 15%;
    padding: 0.25em 1em;
    text-align: center;
}
a:hover.menu{
    color:#EAECE9 ;
    background-color:#1F271B;
    
}


main{
    width: 76%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    font-family: Garamond bold;

}
h1.main{
    text-align:center ;
    margin-bottom: 1em;
}
p.main{
    text-align: justify;
    font-size: 1.5em;
    color:#1F271B;
    
}
footer{
    background-color: #D6E9EB;
    display:flex;
    justify-content:center;
    font-family: Garamond;   
}

ul.foot{
    list-style-type: none;
    margin:1% 10%;
    
    
}
li.foot{
    font-size: 1.3em;
}
h2.foot{
    margin:.2em 0em;
}
.information{
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
h2.description{
    text-align: left;
    font-size: 3em ;
    padding: 0.3em;
    color:#1F271B;
    
}
p.moto{
    text-align: left;
    padding: 0.2em;
    font-size: 2em ;
    color:#808080;
    border-bottom:solid #CAC4CE 0.2em;
    
}
img.map{
    width:50%;
    height: auto;
    margin:0px;
    padding: 3%;
    
}
dl.list{
    height: 200px;
    overflow-y: scroll;
}
dt.city{
    font-size: 2em ;
    padding: 0.3em;
    color:#1F271B;
}

a.link{
    font-size: 1.5em ;
    color:#808080;
    text-decoration: underline;
}
a.link:hover{
    font-size: 1.5em ;
    color:#55bdc7;
    text-decoration: underline;

}
a.link:active{
    font-size: 1.5em ;
    color:#0a6972;
    text-decoration: underline;
}



